/* font-family: "Rubik", sans-serif; */

body {
    font-family: "Rubik", sans-serif;
    background-color: #323232;
    color: #DDD0C8;
}



header {
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

header img {
    width: 6rem;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-style: italic;
    color: #F5F5F5;
    text-align: center;
    padding: 10px 20px 0 20px;
}

h2 {
    font-size: 2.4rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}

h3 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 400;
    font-style: italic;
}

h4 {
    margin: 0;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
}

p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 300;
    text-align: justify;
}

ul li {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 300;
}




footer {
    background-color: #111111;
    padding: 15px 0;
}

footer p {
    text-align: center;
}